.profile__info_type_edit-button {
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: 1px solid #FFFFFF;
    background-image: url(../../../../images/edit-button.svg);
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 41px;   
}

@media screen and (max-width: 400px) {
    .profile__info_type_edit-button {
      margin-top: 0;
      margin-left: 10px;
    }
  }
  
  .profile__info_type_edit-button:hover {
    opacity: 0.6;
  }