.header__logo {
  background-image: url(../../../images/header_logo.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
}

@media screen and (max-width: 400px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
    box-sizing: border-box;   
  }
}
