.header__logo {
  background-image: url(../../../images/header_logo.svg);
  width: 142px;
  height: 33px;
  background-size: contain;
  padding-bottom: 41px;
  background-repeat: no-repeat;
}

@media screen and (max-width: 600px) {
  .header__logo {
    margin-left: 27px;
    width: 103.74px;
    height: 24.4px;
    box-sizing: border-box;  
    padding-bottom: 31.6px;
  }
}
