.elements {
    display: grid;
    max-width: 880px;
    grid-row-gap: 20px;
    grid-column-gap: 17px;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-template-rows: auto;
    margin: 0 auto;
    padding: 0;
    justify-content: center;
}
