.form__container_type_description {
    width: 358px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    margin: 30px auto 13px;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

@media screen and (max-width: 400px) {
    .form__container_type_description {
      width: 238px;
      height: 14px;
      margin: 30px 22px 13px 22px;
    }
  }
  